section {
    width: 100%;
}

section a {
    display: inline-block;
    padding: 10px;
    border: 3px solid;
    border-color: pink;
    color: black;

    font-size: 40px;
}
section a:hover {
    border-color: red;
    color: red;
}

section .word {
    padding: 20px 0px 0px 200px;
    line-height: 30px;

    font-size: 120%;
}

section .picture {
    width: 100%;
}

section input[type="radio"] {
    display: none;
}

.illustration {
    position: relative;

    display: none;
}
.illustration > img {
    margin: 20px auto;
    width: 75%; height: 75%;
    display: block;
}
section input[type="radio"]:checked + .illustration {
    display: block;
}


.leftarrow {
    position: absolute;
    display: inline-block;
    transform: rotate(270deg);

    top: 35%;
    left: 0px;
}
.leftarrow img {
    width: 200px;
}

.rightarrow {
    position: absolute;
    display: inline-block;
    transform: rotate(90deg);

    top: 35%;
    right: 0px;
}
.rightarrow img {
    width: 200px;
}

.preview {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.preview > label > img {
    width: 150px;
    margin: 10px;
    display: inline-block;

    opacity: 0.5;
}
.preview > label > img:hover {
    opacity: 1;
}