p.fontbold {
    font-weight: bolder;
    display: inline;
    font-size: 110%;
}
section a {
    color: pink;
}
section a:hover {
    color: red;
}

section {
    padding: 20px 0px 0px 100px;
}

section > label {
    margin: 10px;
    padding: 5px;
    border: 2px solid;
    border-color: pink;
    font-size: 20px;
    font-weight: bold;
}
section > label:hover {
    color: red;
    border-color: red;
}
section > input[type="checkbox"] {
    display: none;
}
section > input + div {
    padding-left: 30px; padding-bottom: 20px;
    line-height: 30px;
    display: inline-block;
}
section > input[type="checkbox"]:checked + div {
    display: none;
}

section table {
    width: 500px;
    text-align: center;
    border: 2px solid;
    border-color: pink;
    border-spacing: 0px;
}
section table td {
    padding: 5px;

    border: 2px solid;
    border-color: pink;
}