* {
    margin: 0px; padding: 0px;
    box-sizing: border-box;
}
li { list-style: none; }
a { text-decoration: none; }

header {
    height: 125px;
    margin: 0px auto;
    overflow: hidden;
    background-color: cornflowerblue;
}
nav {
    text-align: center;
    width: 1000px; height: 100%;
    margin: 0px auto; padding: 15px 15px 0px 15px;
    background-color: deepskyblue;
}
nav .image {
    height: 100%; width: 200px;
    display: inline-block;
    background-color: white;
}
nav > ul {
    height: 100%;
    display: inline-block;
    background-color: aquamarine;
}
nav > ul > li {
    height: 100%;
    position: static;
    padding: 10px 15px 0px 15px;
    justify-content: center;
    float: left;
}
nav > ul > li:hover {
    background-color: black;
    color: white;
    text-decoration: underline solid white;
}
nav > ul > li > .submenu {
    text-align: left;
    width: 100%; height: 0px;
    visibility: hidden; position: absolute;
    left: 0px; top: 125px;
    z-index: 1;
    background-color: black;
    color: white;
    
    overflow: hidden;
    transition: height 0.5s;
}
nav > ul > li:hover .submenu {
    height: 25%;
    visibility: visible;
    overflow: hidden;
}
nav > ul > li > .submenu > ul {
    margin: 20px;
}
nav > ul > li > .submenu > ul > li {
    padding: 3px 0px 3px 10px;
    color: darkgray;
}
nav > ul > li > .submenu > ul > li a {
    color: darkgray;
}
nav > ul > li > .submenu > ul > li a:hover {
    color: white;
    text-decoration: underline solid white;
}

#main {
    height: 1000px;
    margin: 0px auto;
    background-color: pink;
}
section {
    padding: 10px;
}
footer {
    height: 200px;
    margin: 0px auto; padding: 10px;
    background-color: black;
    color: white;
}