section {
    width: 100%; height: auto;
    padding-left: 100px;
    display: flex; justify-content: center;
}
article {
    width: 1000px; height: auto;
}
article .algorithm_title {
    width: auto;
    padding: 20px;
    border-bottom: solid 3px;
    font-size: 40px;
}
article > ul {
    width: 100%;
    padding: 0px 20px;
    display: flex; flex-direction: column;
    background-color: white;
}
article > ul > label {
    width: 200px;
    padding: 20px;
    background-color: pink;
}
article > ul > label:hover {
    color: red;
}
article > ul > input[type="checkbox"] {
    display: none;
}
article > ul > input[type="checkbox"]:checked + div {
    display: inline-block;
}
article > ul > div {
    display: none;
}
article > ul  li {
    padding: 20px 0px;
    border-bottom: solid 2px;
    line-height: 30px;
}
article > .languagebox {
    width: 100%;
    /*background-color: aqua;*/
    display: flex; justify-content: center;
    position: relative;
}
article > .languagebox > label {
    position: static;
}
article > .languagebox > label > img {
    width: 100px; height: 100px;
    padding: 20px;
    background-color: pink;
}

article > .languagebox > label > input[type="radio"] {
    display: none;
}

article .codebox {
    width: 100%;
    padding: 0px 20px;
    position: absolute;
    top: 100px; left: 0px;
    display: none;
}
article > .languagebox > label > input[type="radio"]:checked + .codebox {
    display: inline-block;
}