/*
* {
    margin: 0px; padding: 0px;
    box-sizing: border-box;
    font-family: "verdana";
}
*/

/*
#base {
    width: 1000px; height: 500px; margin: 50px auto;
    background-color: lightgray;
}
.ubase {
    width: 960px; height: 210px; margin: 10px; padding: 10px;
    float: left; background-color: beige;
    position: relative;
}
.ubase .box1 {
    width: 320px; height: 210px;
    float: left; background-color: #87cefa;
}
.ubase .box2 {
    width: 300px; height: 190px; padding: 10px;
    float: left; background-color: #90ee90;
}
.ubase .box3 {
    width: 280px; height: 170px; padding: 10px; border: 10px dashed orange;
    float: left; background-color: #ffb6c1;
}

.dbase {
    width: 960px; height: 210px; margin: 10px; padding: 10px;
    float: left; background-color: lavender;
}
.dbase .box1 {
    box-sizing: border-box;
    width: 320px; height: 210px;
    float: left; background-color: #87cefa;
}
.dbase .box2 {
    box-sizing: border-box;
    width: 320px; height: 210px; padding: 10px;
    float: left; background-color: #90ee90;
}
.dbase .box3 {
    box-sizing: border-box;
    width: 320px; height: 210px; padding: 10px; border: 10px dashed orange;
    float: left; background-color: #ffb6c1;
}
*/

/*
#base {
    width: 1000px; height: 500px; padding: 10px;
    background: lightgray; margin: 50px auto;
}
#base>div {
    width: 480px; height: 480px; float: left; padding: 10px;
    background: beige;
}
#base>div>div {
    background: lavender; margin: 5px 0px;
}
#base>div>.type1 p {
    line-height: 30px; color: blue;
    text-decoration-line: underline; text-decoration-color: blue;
}
#base>div>.type2 p {
    line-height: 50px; color: #f08080;
    text-decoration-line: overline; text-decoration-color: #ff0000;
    text-decoration-style: dashed; text-decoration-thickness: 2px;
    text-align: center;
}
#base>div>.type3 p {
    line-height: 70px; color: rgb(128, 0, 128);
    text-decoration-line: line-through; text-decoration-color: rgb(128, 0, 128);
    text-decoration-style: dotted; text-decoration-thickness: 3px;
    text-align: right;
}
#base>div>.type4 p {
    line-height: 90px; color: #0a0;
    text-decoration-line: underline overline; text-decoration-color: #0a0;
    text-decoration-style: wavy; text-decoration-thickness: 4px;
}
*/

/*
* {
    margin: 0px; padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#base {
    width: 1000px; height: 500px; padding: 10px;
    background: lightgray; margin: 50px auto;
}
#base>div {
    width: 480px; height: 480px; float: left; padding: 10px;
    background: beige;
}
#base>div>p {margin: 10px 0;}
.font1 {font-weight: 100; font-size: 7.2pt;}
.font2 {font-weight: 200; font-size: 11.2px;}
.font3 {font-weight: 300; font-size: 0.8em;}
.font4 {font-weight: 400; font-size: 0.9rem;}
.font5 {font-weight: 500; font-size: 100%; color: red;}
.font6 {font-weight: 600; font-size: 14.4pt;}
.font7 {font-weight: 700; font-size: 22.4px;}
.font8 {font-weight: 800; font-size: 1.6em;}
.font9 {font-weight: 900; font-size: 1.8rem;}

.type1 {font-family: Arial, Helvetica, sans-serif;}
.type2 {font-family: Verdana, Tahoma, sans-serif;}
.type3 {font-family: Tahoma, Verdana, sans-serif;}
.type4 {font-family: 'Trebuchet MS', Arial, sans-serif;}
.type5 {font-family: 'Times New Roman', Times, serif;}
.type6 {font-family: Georgia, Times, serif;}
.type7 {font-family: 'Courier New', Courier, monospace;}
.type8 {font-family: 'Brush Script MT', cursive;}

.type9 {font: 20px Verdana, sans-serif;}
.type10 {font: italic bold 12pt/80px Georgia, serif;}
*/

/*
* {
    margin: 0px; padding: 0px;
    box-sizing: border-box;
    font-family: "verdana";
}

#base {
    width: 1000px; height: 500px;
    background: lightgray; margin: 50px auto;
}
#base div {
    width: 480px; height: 480px; float: left; margin: 10px;
    background: beige;
}
#base div div {
    width: 100px; height: 100px;
    margin: 0px; float: none;
    border: 5px dotted lightcoral; background: orange;
}
#base div.rbase {
    display: flex;
}
*/

/*
* {
    margin: 0px; padding: 0px;
    box-sizing: border-box;
    font-family: "verdana";
}

#base {
    width: 1000px; height: 500px; padding: 10px;
    background: lightgray; margin: 50px auto;
    position: relative;
}
.div1 {
    width: 80px; height: 80px; background-color: orange;
}
.div2 {
    width: 90px; height: 90px; background-color: lightblue;
}
.div3 {
    width: 100px; height: 100px; background-color: limegreen;
}
.container1 {
    display: flex;
    width: 480px; background: beige;
}
.container2 {
    display: flex; flex-direction: row-reverse;
    margin-top: 20px;
    width: 480px; background: beige;
}
.container3 {
    display: flex; flex-direction: column;
    position: absolute; top: 10px; left: 510px;
    height: 480px; background: beige;
}
.container4 {
    display: flex; flex-direction: column-reverse;
    position: absolute; top: 10px; left: 630px;
    height: 480px; background: beige;
}
*/

/*
* {
    margin: 0px; padding: 0px;
    box-sizing: border-box;
    font-family: "verdana";
}
#base {
    width: 1000px; padding: 10px;
    background: lightgray; margin: 50px auto;
    display: flex;
}
.container1 {
    display: flex;
    width: 480px; background: beige;
}
.container2 {
    display: flex; flex-wrap: wrap;
    width: 480px; margin-left: 20px; background: beige;
}
.item {
    width: 130px; height: 130px; background: lightsalmon;
    border: 2px dotted red; padding: 10px;
}
*/

/*
* {
    margin: 0px; padding: 0px;
    box-sizing: border-box;
    font-family: "verdana";
}
#base {
    width: 1000px; height: 500px; padding: 10px;
    background: lightgray; margin: 50px auto;
}
#base p span {
    color: darked;
}
.container1 {
    width: 980px; margin: 10px 0; padding: 10px;
    display: flex;
    background: beige;
}
.container2 {
    width: 980px; margin: 10px 0; padding: 10px;
    display: flex; justify-content: center;
    background: beige;
}
.container3 {
    width: 980px; margin: 10px 0; padding: 10px;
    display: flex; justify-content: flex-end;
    background: beige;
}
.item {
    width: 100px; height: 100px; padding: 10px;
    border: 1px dotted red; background: lightsalmon;
}
*/

/*
* {
    margin: 0px; padding: 0px;
    box-sizing: border-box;
    font-family: "verdana";
}
#base {
    width: 1000px; padding: 10px;
    background: lightgray; margin: 50px auto; display: flex;
}
.container1 {
    width: 300px; height: 180px; padding: 10px;
    display: flex; flex-wrap: wrap; background: beige;
}
.container1 div {
    width: 80px; height: 80px; padding: 10px;
    border: 1px dotted red; background: lightsalmon;
}
.container2 {
    width: 300px; height: 480px; padding: 10px;
    display: flex; flex-wrap: wrap; background: beige;
}
.container2 div {
    width: 80px; padding: 10px;
    border: 1px dotted red; background: lightsalmon;
}
.container3 {
    width: 300px; height: 480px; padding: 10px;
    display: flex; flex-wrap: wrap; background: beige;
}
.container3 div {
    width: 80px; height: 80px; padding: 10px;
    border: 1px dotted red; background: lightsalmon;
}
*/

/*
* {
    margin: 0px; padding: 0px;
    box-sizing: border-box;
    font-family: "verdana";
}
#base {
    width: 1000px; padding: 10px;
    background: lightgray; margin: 50px auto; 
    display: flex;
}
#base div div {
    width: 80px; height: 80px; padding: 10px;
    border: 1px dotted red; background: lightsalmon;
}
.container1 {
    width: 300px; height: 480px; padding: 10px;
    display: flex; flex-wrap: wrap; background: beige;
    align-items: flex-start;
}
.container2 {
    width: 300px; height: 480px; padding: 10px; margin-left: 20px;
    display: flex; flex-wrap: wrap; background: beige;
    align-items: center;
}
.container3 {
    width: 300px; height: 480px; padding: 10px; margin-left: 20px;
    display: flex; flex-wrap: wrap; background: beige;
    align-items: flex-end;
}
*/

/*
* {
    margin: 0px; padding: 0px;
    box-sizing: border-box;
    font-family: "verdana";
}

#base {
    width: 1000px; height: 500px;
    display: flex; flex-wrap: wrap;
    background: lightgray; margin: 50px auto;
}
#base>div {
    width: 480px; height: 480px; margin: 10px;
    background-color: beige;
    display: flex; flex-direction: column;
}
#base>div div {
    height: 130px; margin: 10px;
    background-color: burlywood;
    display: flex;
}
#base>div div div {
    width: 100px; height: 100px; margin: 0px; padding: 10px;
    border: 5px dotted lightcoral; background-color: orange;
}
*/

/*
* {
    margin: 0px; padding: 0px;
    box-sizing: border-box;
    font-family: "verdana";
}

#base {
    width: 1000px; height: 500px;
    display: flex; flex-wrap: wrap;
    background: lightgray; margin: 50px auto;
}
#base>div {
    width: 480px; height: 480px; margin: 10px;
    background-color: beige;
    display: flex; flex-direction: column;
}
#base>div div {
    height: 130px; margin: 10px;
    background-color: burlywood;
    display: flex;
}
#base>div div div {
    width: 100px; height: 100px; margin: 0px; padding: 10px;
    border:5px dotted lightcoral; background-color: orange;
}
#base>div div div.basis1 {
    width: auto;
    justify-content: center; flex-basis: auto;
}
#base>div div div.basis2 {
    width: auto;
    justify-content: center; flex-basis: 0;
}
#base>div div div.basis3 {
    width: auto;
    justify-content: center; flex-basis: 60px;
}
*/

/*
* {
    margin: 0px; padding: 0px;
    box-sizing: border-box;
    font-family: "verdana";
}
#base {
    width: 1000px; padding: 10px;
    background: lightgray; margin: 50px auto; display: flex;
}
#base div {
    width: 480px; height: 480px; padding: 10px; background: beige;
}
#base div div {
    width: 100px; height: 100px; margin: 10px 0px; background: lightsalmon;
}
#base div .type1:hover {
    width: 460px; background: lightgreen;
    transition-duration: 1s;
}
#base div .type2:hover {
    width: 460px; background: lightgreen;
    transition: width 1s;
}
#base div .type3:hover {
    width: 460px; background: lightgreen;
    transition-duration: 3s;
}
#base div .type4:hover {
    width: 460px; background: lightgreen;
    transition-duration: 1s; transition-delay: 1s; 
}
#base div .type5:hover {
    width: 460px; background: lightgreen;
    transition-duration: 1s; transition-property: background-color;
}
#base div div.type6 {
    transition-duration: 1s;
}
#base div .type6:hover {
    width: 460px; background-color: lightgreen;
}
*/

/*
* {
    margin: 0px; padding: 0px;
    box-sizing: border-box;
    font-family: "verdana";
}
#base {
    width: 1000px; padding: 10px;
    background: lightgray; margin: 50px auto; 
    display: flex;
}
#base div {
    width: 480px; height: 480px; padding: 10px; background: beige;
}
#base div div {
    width: 100px; height: 100px; margin: 10px 0px; background: lightsalmon;
    transition-duration: 1s;
}
#base>div>div:hover {
    width: 460px; background: lightgreen;
}
#base>div .linear:hover {transition-timing-function: linear;}
#base>div .ease:hover {transition-timing-function: ease;}
#base>div .ease-in:hover {transition-timing-function: ease-in;}
#base>div .ease-out:hover {transition-timing-function: ease-out;}
#base>div .ease-in-out:hover {transition-timing-function: ease-in-out;}
*/

/*
* {
    margin: 0px; padding: 0px;
    box-sizing: border-box;
    font-family: "verdana";
}
#base {
    width: 1000px; display: flex; flex-wrap: wrap;
    background: lightgray; margin: 50px auto;
}
#base>div {
    width: 150px; height: 200px; margin: 10px 0px 10px 10px; padding: 10px;
    background: beige;
}
#base>div>div {
    width: 100px; height: 100px; margin: 10px 0px;
    background: lightsalmon; border: 1px dotted red;
    transition-duration: 0.5s;
}
#base>div>.item01:hover {transform: translate(20px, 20px)}
#base>div>.item02:hover {transform: translateX(20px)}
#base>div>.item03:hover {transform: translateY(20px)}
#base>div>.item04:hover {transform: scale(1.2, 0.8)}
#base>div>.item05:hover {transform: scaleX(0.8)}
#base>div>.item06:hover {transform: scaleY(1.2)}

#base>div>.item07:hover {transform: rotate(-50deg);}
#base>div>.item08:hover {transform: rotate(50deg);}
#base>div>.item09:hover {transform: skew(10deg, 10deg);}
#base>div>.item10:hover {transform: skewX(-10deg);}
#base>div>.item11:hover {transform: skewY(-10deg);}
#base>div>.item12:hover {transform: matrix(1.2, -0.3, 0, 1.2, 20, 20);}
*/