* {
    margin: 0px;
    padding: 0px;
    font-family: verdana;
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

/* index - Area 1 */
header {
    width: 100%;
}
header .box {
    position: relative;
    width: 1180px; height: 120px;
    margin: 0px auto;
}

header .box > h1 {
    position: absolute;
    left: 10px; bottom: 15px;
}
header .box > ul.global_navigation_bar {
    position: absolute;
    right: 0px; bottom: 0px;
}
header .box > ul.global_navigation_bar > li {
    float: right; padding: 20px 30px;
}
header .box > ul.global_navigation_bar a:hover {
    color: red;
}

header .box > ul.utility_bar {
    position: absolute;
    right: 30px; top: 20px;
}
header .box > ul.utility_bar > li {
    float: right; padding-left: 20px;
}
header .box > ul.utility_bar a {
    font-size: 10px;
    color: gray;
}

/* index - Area 2 */
#bg_main {
    width: 100%; height: 590px;
    overflow: hidden;
    background-image: url(Resource\ 1-03\ \(221224\)/bg_main.png);
}
#bg_main .bg_main_text_box {
    margin: 150px auto 0px;
    width: 800px; height: 300px;
}
#bg_main .bg_main_title {
    font-size: 80px;
    color: white;
}
#bg_main .bg_main_detail {
    font-size: 25px;
    color: white;
}

/* index - Area 3 */
section {
    width: 1180px; height: 450px;
    margin: 0px auto;
}
section > h3 {
    display: block;
    margin: 50px 0px;
    text-align: center;
}

article {
    width: 230px; height: auto; padding: 0px 32.5px;
    float: left;
}
article > img { margin-bottom: 10px; }

/* index - Area 4 */
footer {
    width: 100%;
    background-color: black;
}

footer .box {
    position: relative;
    width: 1000px; height: 100px;
    margin: 0px auto;
}
footer .box > h1 {
    position: absolute;
    left: 10px; bottom: 15px;
    color: gray;
}
footer .box > ul.footer_menu_bar {
    position: absolute;
    right: 20px; bottom: 15px;

}
footer .box > ul.footer_menu_bar > li {
    float: right; padding-left: 20px;
}
footer .box > ul.footer_menu_bar a { color: gray; }
footer .box > ul.footer_menu_bar a:hover { color: white; }

footer .box > ul {
    position: absolute;
    left: 10px; bottom: 15px;
}
footer .box li { 
    font-size: 10px;
    color: gray;
}