/*
* { 
    margin: 0px; padding: 0px; 
}
*/

* { 
    margin: 0px; 
    padding: 0px; 
    font-family: verdana;
    line-height: 40px;
}

/*
body {
    font-family: 'Verdana'; font-size: 16px;
    color: black; line-height: 28px;
}
header {
    width: 1000px; height: 60px;
    margin: 0px auto; margin-top: 10px; padding: 10px;
    overflow: hidden;
    border: 2px solid black;
    background-color: lightskyblue;
}
nav {
    float: right; overflow: hidden;
    position: relative;
}
nav > ul {
    overflow: hidden;
    background-color: lightcyan;
}
nav > ul > li {
    list-style: none;
    float: left;
    padding: 5px;
}
#main {
    width: 1000px; height: 340px;
    margin: 0px auto; margin-top: 5px; padding: 10px;
    overflow: hidden;
    border: 2px solid black;
    background-color: pink;
}
section {
    width: 680px; height: 320px;
    padding: 10px; margin-right: 10px;
    background-color: aquamarine;
    float: left;
}
article {
    width: 660px; height: 150px;
    padding: 10px;
    background-color: orange;
}
aside {
    width: 270px; height: 320px;
    padding: 10px;
    background-color: lemonchiffon;
    float: left;
}
footer {
    width: 1000px; height: 40px;
    margin: 0px auto; margin-top: 5px;
    padding: 10px;
    overflow: hidden;
    border: 2px solid black;
    background-color: teal;
    color: white;
}
*/

/* 
#base {
    width: 1000px; height: 500px; margin: 30px auto 0px;
    background-color: lightgray;
}
#base .lbase {
    width: 460px; height: 460px; margin: 10px; padding: 10px;
    background-color: #7fffd4;
    float: left;
}
#base .rbase {
    width: 460px; height: 460px; margin: 10px; padding: 10px;
    background-color: #ffd700;
    float: left;
}
.div1 {
    width: 130px; height: 130px; padding: 10px;
    background-color: #6495ed;
}
#base .lbase .lbase_div {
    width: 80px; height: 80px; padding: 10px;
    background-color: #ffa07a;
}
#base .rbase .rbase_div {
    width: 80px; height: 80px; padding: 10px;
    background-color: #ffa07a;
    float: left;
}
.div_odd {
    width: 80px; height: 80px;padding: 10px;
    border: 2px solid red;
    float: left;
}
.div_even {
    width: 80px; height: 80px;padding: 10px;
    border: 2px solid blue;
    float: right;
}
.div_inherit {
    width: 80px; height: 80px;padding: 10px;
    border: 2px solid red;
    float: inherit;
}
.div7 {
    width: 130px; height: 130px; padding: 10px;
    background-color: #ba55d3;
}
*/

/*
#base {
    width: 1000px; height: 500px; margin: 50px 0px 0px 50px;
    background-color: lightgray;
}
.lbase {
    width: 480px; height: 480px; margin: 10px;
    background-color: #7fffd4;
    float: left;
}
.rbase {
    width: 480px; height: 480px; margin: 10px;
    background-color: #ffd700;
    float: left;
}
.div1 {
    width: 80px; height: 80px; padding: 10px;
    background-color: darkorange;
}
.div2_l {
    width: 360px; height: 360px; padding: 10px;
    background-color: deepskyblue;
    position: static;
    top: -100px; left: 100px;
}
.div2_r {
    width: 360px; height: 360px; padding: 10px;
    background-color: deepskyblue;
    position: relative;
    top: -100px; left: 100px;
}
.div3 {
    width: 80px; height: 80px; padding: 10px;
    background-color: #fa8072;
    position: absolute;
    top: 160px; left: 160px;
}
.div4 {
    width: 180px; height: 180px;padding: 10px;
    background-color: violet;
    position: fixed;
    top: 340px; left: 450px;
}
*/

/*
#base {
    width: 1000px; height: 500px; margin: 50px auto;
    background-color: lightgray;
}
.lbase {
    width: 480px; height: 480px; margin: 10px;
    background-color: darkgray;
    float: left; position: relative;
}
.rbase {
    width: 480px; height: 480px; margin: 10px;
    background-color: darkgray;
    float: left; position: relative;
}
.lbase .div1 {
    width: 230px; height: 230px; position: relative; padding: 10px;
    top: 50px; left: 60px; background-color: #6495ed;
    z-index: 1;
}
.lbase .div2 {
    width: 230px; height: 230px; position: absolute; padding: 10px;
    top: 130px; left: 190px; background-color: #90ee90;
    z-index: 2;
}
.lbase .div3 {
    width: 230px; height: 230px; position: fixed; padding: 10px;
    top: 250px; left: 180px; background-color: #f4a460;
    z-index: 3;
}
.rbase .div1 {
    width: 230px; height: 230px; position: relative; padding: 10px;
    top: 50px; left: 60px; background-color: #6495ed;
    z-index: 3;
}
.rbase .div2 {
    width: 230px; height: 230px; position: absolute; padding: 10px;
    top: 130px; left: 190px; background-color: #90ee90;
    z-index: 2;
}
.rbase .div3 {
    width: 230px; height: 230px; position: fixed; padding: 10px;
    top: 250px; left: 680px; background-color: #f4a460;
    z-index: 1;
}
*/

/*
#base {
    width: 1000px; height: 500px; margin: 50px auto;
    background-color: lightgray;
}
.lbase {
    width: 480px; height: 480px; margin: 10px;
    background-color: darkgray;
    float: left;
}
.rbase {
    width: 480px; height: 480px; margin: 10px;
    background-color: darkgray;
    float: left; position: relative;
}
.lbase .div1 {
    width: 240px; height: 240px; float: left;
    background-color: pink;
}
.lbase .div2 {
    width: 240px; height: 240px; float: left;
    background-color: #7fffd4;
}
.lbase .div3 {
    width: 240px; height: 240px; float: left;
    background-color: #87cefa;
}
.lbase .div4 {
    width: 240px; height: 240px; float: left;
    background-color: #ff00ff;
}
.rbase .div1 {
    width: 240px; height: 240px;
    background-color: pink;
}
.rbase .div2 {
    width: 220px; height: 220px; margin: 10px;
    position: relative; top: -240px; left: 240px;
    background-color: #7fffd4;
}
.rbase .div3 {
    width: 200px; height: 200px; margin: 10px;
    position: absolute; top: 240px;
    border: 10px dashed #1e90ff;
    background-color: #87cefa;
}
.rbase .div4 {
    width: 180px; height: 180px; margin: 10px; padding: 10px;
    position: relative; top: -230px; left: 240px;
    border: 10px dotted #9932cc;
    background-color: #ff00ff;
}
*/

/*
#base {
    width: 1000px; height: 500px; margin: 50px auto;
    background-color: lightgray;
}
.lbase {
    width: 460px; height: 460px; margin: 10px; padding: 10px;
    background-color: darkgray;
    float: left;
}
.rbase {
    width: 460px; height: 460px; margin: 10px; padding: 10px;
    background-color: darkgray;
    float: left; position: relative;
}
h3 { margin: 10px 0px; }
.lbase span.a {
    display: inline; width: 100px; height: 50px;
    border: 1px solid black; padding: 5px;
    background-color: yellow;
}
.lbase span.b {
    display: block; width: 100px; height: 50px;
    border: 1px solid black; padding: 5px;
    background-color: yellow;
}
.lbase span.c {
    display: inline-block; width: 100px; height: 50px;
    border: 1px solid black; padding: 5px;
    background-color: yellow;
}
.rbase div.a {
    width: 440px; height: 30px; padding: 10px;
    border: 1px solid #b22222; border-radius: 10px;
    background-color: #ffd700;
}
.rbase div.b {
    display: none;
    width: 440px; height: 30px; padding: 10px;
    border: 1px solid #b22222; border-radius: 10px;
    background-color: #ffd700;
}
.rbase div.c {
    visibility: hidden;
    width: 440px; height: 30px; padding: 10px;
    border: 1px solid #b22222; border-radius: 10px;
    background-color: #ffd700;
}
*/

/*
#base {
    width: 1000px; height: 500px; margin: 50px auto;
    background-color: lightgray;
}

.base1 {
    width: 210px; height: 460px; margin: 10px; padding: 10px;
    background-color: darkgray;
    float: left;
}
.base1 .ul1 li {
    width: 150px; padding: 10px;
    background-color: beige;
}
.base1 .ul2 {
    list-style-type: none;
}
.base1 .ul2 a {
    display: block;
    width: 190px; padding: 10px;
    background-color: gold;
}
.base1 .ul2 a:hover {
    color: red;
}

.base2 {
    width: 210px; height: 460px; margin: 10px; padding: 10px;
    background-color: darkgray;
    float: left;
}
.base2>ul {
    list-style-type: none;
    background-color: #7fffd4;
}
.base2>ul>li {
    padding: 20px 30px;
}
.base2>ul>li:hover {
    background-color: #006400;
    color: white;
}

.base3 {
    width: 210px; height: 460px; margin: 10px; padding: 10px;
    background-color: darkgray;
    float: left;
}
.base3 ul {
    list-style-type: none;
}
.base3 ul a {
    display: block;
    padding: 20px 30px;
    text-decoration: none;
    background-color: #e0ffff; color: darkblue;
}
.base3 ul a.active {
    background-color: #7b68ee; color: white;
}
.base3 ul a:hover:not(.active) {
    background-color: #191970; color: #f0f8ff;
}

.base4 {
    width: 210px; height: 460px; margin: 10px; padding: 10px;
    background-color: darkgray;
    float: left;
}
.base4 ul {
    list-style-type: none;
    text-align: center;
    line-height: 40px;
}
.base4>ul>li {
    background-color: #f4a460;
    border: 1px solid black;
    box-sizing: border-box;
}
.base4>ul>li:hover {
    background-color: salmon;
    color: #800000;
    cursor: pointer;
}
.base4>ul>li>ul.sub {
    display: none;
    background-color: lightpink;
}
.base4>ul>li:hover .sub {
    display: block;
}
.base4>ul>li>ul.sub>li:hover {
    background-color: #800000;
    color: white;
}
*/

ul {
    list-style-type: none;
}
#base {
    width: 1000px; height: 500px; margin: 50px auto;
}
.lbase {
    width: 480px; height: 480px; padding: 10px; float: left;
    background-color: #f5f5dc;
}
.rbase {
    width: 480px; height: 480px; padding: 10px; float: left;
    background-color: #deb887;
}
.lbase>div {
    width: 460px; height: 100px; padding: 10px;
}
.lbase ul>.li1 {
    float: left; padding: 0px 10px;
    background-color: #a9a9a9;
}
.lbase ul>.li1:hover {
    color: red;
}
.lbase ul>.li2 {
    display: inline; padding: 10px;
    background-color: #bdb76b;
}
.lbase ul>.li2:hover {
    background-color: #006400;
    color: white;
}
.lbase ul>.li3 {
    display: inline;
}
.lbase ul>.li3 a {
    display: inline-block; padding: 0px 10px;
    background-color: #8fbc8f;
}
.lbase ul>.li3 a:hover {
    background-color: #7fffd4;
    color: black;
}
.rbase .base4 {
    width: 460px; height: 100px; padding: 10px;
    background-color: lightgray;
}
.rbase .base4 ul {
    background-color: #6495ed;
}
.rbase .base4 ul li {
    display: inline; padding: 10px;
    background-color: #6495ed;
}
.rbase .base4 ul li:nth-child(4) {
    float: right; padding: 0px 10px;
}
.rbase .base4 ul li:hover {
    background-color: #00008b;
    color: white;
}
.rbase .base5 {
    width: 460px; height: 260px; padding: 10px;
    background-color: white;
}
.rbase .base5 ul {
    background-color: lightsalmon;
    overflow: hidden;
}
.rbase .base5 ul li {
    float: left;
    padding: 0px 10px;
}
.rbase .base5 ul li:hover {
    background-color: #dc143c; color: white;
}
.rbase .base5 ul li:hover .dropmenu {
    display: block;
}
.rbase .base5 ul li .dropmenu {
    display: none; position: absolute;
    min-width: 130px; z-index: 1;
    background-color: #ffe4c4;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.rbase .base5 ul li .dropmenu a {
    display: block; padding: 0px 10px;
    text-decoration: none;
    color: black;
}
.rbase .base5 ul li .dropmenu a:hover {
    background-color: gold; color: #bb4513;
}
